<div id="texte">
<h1>Collision Astrale<br />
<img alt="" src="./textes/"/>
</h1>
Elle tournait depuis si lontemps qu'il y a bien lontemps qu'elle a perdu tout rep&egrave;re.
<br>
De son environnement original elle n'en ressentait plus qu'un vague echo. Dans sa ronde sans fin elles etirent ses bras en qu&ecirc;te d'un compagnon oubli&eacute;. De temps en temps quelques objets aux formes incertaines venaient se fondre en elle. Vents, pens&eacute;es, peut importe, l'oubli les envellopait et les emportait avec leurs souvenirs et leurs antiques sensations que ce contact terrifiant &agrave; fait ressurgir.
<br>
Immuable, cette solitude tant d&eacute;test&eacute; devient la force qui la fait tourn&eacute;. Avancant dans le noir, brillant de toute sa force tel un phare dans un oc&eacute;an de solitude, elle appelle quiconque peut lui r&eacute;pondre, echo de son existance.
<br>
Balai cosmique sans sp&eacute;ctateur, elle vie dans l'espoir de trouver ce qu'elle redoute le plus. Son existance est devenu sa propre ombre issu d'une lumi&egrave;re inexistante.
<br>
Elle tournue a un rythme si personel aque tout contact exterieur est vou&eacute; &agrave; l'echec. Cosumant cette force dans cette lumi&egrave;re noire pour cet impossible espoir ,elle reste sourde &agrave; tous signe ext&eacute;rieur.
<br>
Puis, apr&egrave;s un moment, un jours, une &eacute;ternit&eacute;, elle ressentit qu'elle n'a plus ressentit depuis des temps imm&eacute;moriaux. Par r&eacute;fl&egrave;xe, elle s'en d&eacute;fendit, mais cette nouvelle &eacute;n&eacute;rgie issu de cette opposition la sortie de sa l&eacute;thargie. Son envelloppe fut prise de tr&eacute;saillement comme caresser par une douce brise. Ce fut alors au tourdu coeur de son etre de se rechauff&eacute;. Des soubressauts en son fort interieur se propage &agrave; on tour avec une telle harmonique qu'elle rentra en resonnace avec la source d'attraction.
<br>
Alors tout s'emplifia, leur approche s'acc&eacute;lera. Leur vitesse fut si rapide qu'elle n'eut le temps de ce pr&eacute;par&eacute; &agrave; la rencontre. Le choc fut si terrible qu'elle en fit &eacute;branl&eacute;, elle perdis des parties d'elle meme en donna d'autre &agrave; son etrange attracteur. Son opposant vecu la m&ecirc;me chose. Pris par leur elant, ils se virent s'&eacute;loign&eacute;s le temps d'appr&eacute;hend&eacute; leurs nouvelles acquisitions et de guerir de leurs pertes.
<br>
A finir, surement dans une prochaine vie!
</div>
<div class="auteur">pascal TOLEDO</div><br>

