<div id="texte">
<h1>Cosmogonie du Cube<br>
ou<br>
La Cosmogonie selon THE CUBE<br>
<img alt="" src="./textes/cubes-joueur-tourne.png"/>
</h1>
<h2>PARTIE 1:A l'origine &eacute;tait le Cube</h2>
<p>
A l’origine &eacute;tait le cube. Il fut la avant toute chose.<br>
Donc on peut dire qu’il fut la tout le temps car, m&ecirc;me s’il n’y avait rien avant lui, ce rien &eacute;tait diff&eacute;rent de lui donc il y avait quelque chose de diff&eacute;rent de lui - avant lui. Ce qui contredit la première assertion. Bref ... A L’origine &eacute;tait le cube...<br>
De sa perfection, il se dit que seul un &ecirc;tre comme lui, c’est a dire lui m&ecirc;me, pouvait communiquer avec lui. Alors il d&eacute;cida de se cloner. Cependant la perfection n’&agrave; qu’un seul d&eacute;faut c’est d'&ecirc;tre exclusive. Alors il d&eacute;cida de se nourrir de lui m&ecirc;me, de ce fait il se multiplia par 2. Il devint donc (ben, euh!) 1.<br>
Il devint THE BIG CUBE ! <br>
Le problème d’&ecirc;tre le seul c’est qu’en dehors de toute r&eacute;f&eacute;rence ext&eacute;rieur il a beau grossir autant qu’il le veut il restera toujours l'unit&eacute;, L’Unique.<br>
Partant de ce constat il d&eacute;cida de cr&eacute;er quelque chose de diff&eacute;rent et en dehors de lui m&ecirc;me. Comme toute chose venant de lui ne peut &ecirc;tre qu'après et en dessous, The CUBE inventa la gravit&eacute;, compression du temps et du bas (c’est pour ca qu’avec le temps tout tombe!).</p>

<h2>PARTIE 2: les dilemes de la Perfection!</h2>
<p>Il fut dit que las de s’entendre parler dans le vide, le cube voulut quelqu’un pour admirer sa perfection. Mais comment faire pour cr&eacute;er quelque chose de diff&eacute;rent de lui alors que lui m&ecirc;me est tout ?!<br>
Le Cube se mit a r&eacute;fl&eacute;chir, et pour mieux appr&eacute;hender les diff&eacute;rentes vus du non-lui qui l’entourait il tourna sur lui m&ecirc;me. Pris par ses r&eacute;flexions The Cube oublia que le temps nouvellement cr&eacute;&eacute; d&eacute;fila sous lui. De ses traces de r&eacute;flexions sur la diff&eacute;rence naquit le cercle.<br>
Se rappelant sa perfection il se dit que m&ecirc;me ses accidents doivent obligatoirement &ecirc;tre parfait. De ce fait il décida que le cercle serait symbole de perfection.</p>
<!--
<h2>PARTIE 3</h2>
 Et comme le cercle &eacute;mergea après lui et vers le bas,
 il resta donc sur le cercle, premier &eacute;difice de sa puissance. Ce faisant il<br>
-->
</div>
<div class="auteur">pascal TOLEDO</div><br>
