<div id="texte">
<h1>le Trou Noir</h1>
Il connaissait les mouvements par cœur, c'est pour cela qu'il n'allumait jamais. Alors quand la lumi&egrave;re de l'ext&eacute;rieur s'&eacute;teignit il se trouva dans le noir. Les t&eacute;n&egrave;bres l'envahirent ou plutôt l'obscurit&eacute;, visuelle tout d'abord. Car cette obscurit&eacute;, ce noir, est bien plus visible, plus palpable, qu'une lumi&egrave;re vive tel qu'un flash aveuglant. Et quand le noir se marie &agrave; la solitude il enfante la peur. La peur excite les sens et comme toute excitation elles cr&eacute;aient ses propres fantasmes. Ces yeux s'habitu&egrave;rent au n&eacute;ant qui l'entourait. C'est alors qu'il les vit, les ombres, les nuages d'ombres, ces entit&eacute;s impalpables, &agrave; la fois proches et lointaines, pouvant tomb&eacute;es sur vous sans pr&eacute;venir. Elles d&eacute;crivirent des formes qui changeait au gr&eacute; du vent; telles des muses t&eacute;n&eacute;breuses d'une symphonie nocturne. Elles apparurent d'abord sous la porte, d'abord timide puis de plus en plus fonc&eacute;, noir, sinistre. Du noir recouvrant du noir. Elles chang&egrave;rent &agrave; nouveau. Elle devinrent de longs doigts qui s'approchaient lentement pour l'attraper et le tirer sous la porte. Il ne bougea pas. Il ne le put.<br>
<br>
Il regarda ces filants s'&eacute;tirer et s'approcher. S'attirer encore, jusqu'&agrave; rejoindre sa propre ombre. Alors ces images en n&eacute;gatif devinrent, dans son esprit, racines. Il &eacute;tait emprisonn&eacute;. La terreur le prit. Il voulut s'&eacute;chapper. &eacute;chapp&eacute; &agrave; ses lianes, ses racines issus de ses peurs d'enfant. De la peur atavique du noir. Il leva la tête. Il se vit dans son m&egrave;tre carr&eacute;, entour&eacute; de ses quatre murs. Non pas des murs, mais des fronti&egrave;res, des limites, des montagnes, des hauteurs infranchissables. Chaque carreau &eacute;tait une &eacute;tape de sa vie. Plus il voulait monter plus il se sentit tomb&eacute;, chuter, r&eacute;gresser, redevenir enfant. Il voulait se r&eacute;fugi&eacute; sous le lit.<br>
<br>
-Maman laisse la lumi&egrave;re allum&eacute;.<br>
Il se vit au fond de son lit et entendit sa m&egrave;re lui r&eacute;pondre:<br>
- Alors le grand m&eacute;chant loups te verra quand tu dormiras!<br>
-S'il te plait maman &eacute;teint.<br>
Et sa m&egrave;re lui r&eacute;pondit:<br>
-Alors tu ne le verra pas quand il te croquera!<br>
Il vit les crocs g&eacute;ant du chien, Carcaroth, le chien de l'enfer. Ces crocs l'engloutirent en un instant d'&eacute;ternit&eacute;. Il &eacute;tait dans le n&eacute;ant. Il n'&eacute;tait plus. Il n'y avait plus de conscience., plus rien, un trou noir qui absorbait tout ce qu'il avait put être.<br>
<br>
Sauf, si, il y eu une vibration, une contradiction, un dilemme.<br>
<br>
Si j'allume je vois le loup.<br>
<br>
Si j'&eacute;teins je ne le verrais pas me manger. Si j'allume, si j'&eacute;teins, si j'allume, si j'&eacute;teins, ...Ces v&eacute;rit&eacute;s alternatives vibraient comme un pulsar, un phare dans son esprit. Si j'allume, si j'&eacute;teins, si j'allume, si j'&eacute;teins, ...Une &eacute;ternit&eacute; de recommencement qui pourrait se r&eacute;sum&eacute; en une p&eacute;riode. Si j'allume, si j'&eacute;teins, ...Lentement, le pulsar se mit en phase avec le trou noir et le trou noir se rapprochait du pulsar. Une symbiose. La symbiose d'un dilemme.<br>
<br>
La lumi&egrave;re &eacute;claire les t&eacute;n&egrave;bres. Les t&eacute;n&egrave;bres absorbe la lumi&egrave;re. La voie est la. La lumi&egrave;re montre le probl&egrave;me. Les t&eacute;n&egrave;bres cache la solution. Il se leva, appuya sur l'interrupteur. La lumi&egrave;re jailli, Il ouvrit la porte et s'engouffra dans l'obscurit&eacute; de l'ext&eacute;rieur. 
</div>
<div class="auteur">pascal TOLEDO</div><br>
